@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --primary-font: 'Lato', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --black: #353535;
  --dark-grey: #5e5e5e;
  --grey: #bfbfbf;
  --light-grey: #e8e8e8;
  --body-grey: #e5e5e5;
  --dark-red: #c00e20;
  --red: #f22539;
  --white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-grey);
  overflow-x: hidden;
}

.primary-bold {
  font-family: var(--primary-font);
  font-weight: 700;
}

.primary-regular {
  font-family: var(--primary-font);
  font-weight: 400;
}
